body{
    display: flex;
}
.flexbox-container{
    padding: 5px;
    background-color: lightcyan;
}
.flexbox-item{
    padding: 5px;
    margin: 5px;
    background-color: orange;
}
#item01{
    order: 5;
}
#item02{
    order: 6;
}
#item03{
    order: 7;
}
#item04{
    order: 8;
}
#item05{
    order: 1;
}
#item06{
    order: 2;
}
#item07{
    order: 3;
}
#item08{
    order: 4;
}
